html {
  scroll-behavior: smooth;
}

body {
  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: gainsboro;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
  }
}

@supports (scrollbar-color: black gainsboro) {
  * {
    scrollbar-width: thin;
    scrollbar-color: black gainsboro;
  }
}
